body {
   font-family: Arial, Helvetica, sans-serif;
}

.box,
.box-nesting {
   padding: 17px;
   background-color: #0B0D31;
   color: #FFF;
   text-align: center;
   border: 1px solid #FFF;
}

.box-nesting {
   background-color: #0BA958;
}